.header-1 {
  height: 40px;
  width: 250px;
  text-align: center;
  margin-top: -70px;
  background-color:  #ffa580;
  color:black;
  height: 40px;
  width: 250px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px #95a4ff,
    3px 3px 1px 1px rgba(0, 0, 0, 1);
    h1{
      margin-top: 0px;
    }
}
