
.card{
  display: flex;
  border-radius: 3px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-color:  #f9f6ed;
  border: 2px solid rgba(0,0,0,1);
  margin-left: 127px;
  margin-top: 26px;
  margin-right: -119px;
  box-shadow: 15px 15px 1px  #ffa580, 15px 15px 1px 2px rgba(0,0,0,1)
}
.contenedor-titulo {
    margin-top: 0px;
    height: 50px;
    width: 450px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,1);
    text-align: center;
    color: black;
    li{
      list-style: none;
      text-align: left;
    }
  }
